[2018-09-03 08:39] sschiessl-bcp opened #1 "[8.5] Create debug report for users #1696"
**Original issue**
#1696

**Suggestion**
Include a button on the bottom right next to Help button. It opens a popup where the user can decide to create an extensive of console report. After choosing one of the two options, the data is collected and then displayed in the popup. Now the user can copy the content and use it to show it to support or anyone else interested.

- Console report
Get the la

[2018-09-12 14:10] driverdevteam opened #5 "After site crash user sees just white screen."
1. Open the site with pop-up "Create new user" and "Login"
2. Disconnect the internet.
3. Click on the button "Create account" (the site will propose you to fill the fields "Account Name" and
   "Confirm password") The fields are filled automatically with the previous Account name and password.
4. Wait 10-15 seconds, while "Connection out of sync" pop-up appears.
5. Click on the  button "Cancel" i

[2018-09-13 10:36] yuriikarpenkoo commented on #1
We have chosen the following method for catching console.log, console.warn, console.info, console.error - https://stackoverflow.com/questions/19846078/how-to-read-from-chromes-console-in-javascript
Also, the unsuccessful requests are caught using the React method - componentWillCatch.

We keep 20 last records in the local.storage and use them for the further actions. The records are updated automa

[2018-09-13 12:19] sschiessl-bcp opened #9 "Create 500 status page"
Implement a new page that can be displayed on critical errors.

Currently, there is a 404 page when unknown routing occurs, see app/components/Page404/Page404.jsx and e.g.
  https://wallet.bitshares.org/#/market/BTS_CNYS

With the error report feature we now have a nice tool to implement a 500 page. This page is similar to the Create debug report popup, but it is implemented according to 404 page

[2018-09-17 12:50] sschiessl-bcp opened #11 "Implement In-Ram switch for localStorage"
The SettingsStore and others are currently linked to "settings_vX" in the localStorage. Other places in the UI also load from localStorage and might save into it.

**Tasks**
- [x] Add a single point of query for all localStorage calls: Create a new class that wraps all loading and saving to localStorage, and use it consistently in UI, name for example: bitSharesStorage
- [x] Add a method to bitSha

[2018-09-17 12:55] sschiessl-bcp opened #12 "[8.5] Private Login - Cloud Login"
**Original issue**
#1724 and related #1360

**Dependencies**
#11 must be finished

**Tasks**
- [x] Add new Settings option: "remember_user", which is connected to "Remember Me".
- [x] Include a "Remember Me" toggle in Login modal (bottom right corner). Persist the setting into localStorage on every login
![image](https://user-images.githubusercontent.com/33128181/45623232-eaa70b00-ba86-11e8-82f3-d

[2018-09-28 07:46] sschiessl-bcp commented on #1
Current implementation looks much better
![image](https://user-images.githubusercontent.com/33128181/46194849-de327600-c302-11e8-8b32-a5089492a2fe.png)

Looking at the workflow I would like that the initial state of the modal contains an explanatory text (I will include that one). The two buttons are then "Take Screenshot" and "Show Log".

"Take Screenshot" stays as is, when user clicks on "Show L

[2018-09-28 11:43] sschiessl-bcp commented on #11
Implemented in branch 12_Private_Login

[2018-09-28 11:43] #11 closed, assigned to sschiessl-bcp, VerevkinAlexander

[2018-10-04 13:32] sschiessl-bcp opened #16 "[1] Unable to input 0.0000001 as price when placing new order"
See description in original issue #1915

[2018-10-04 13:37] sschiessl-bcp opened #17 "[2] Strip out non numerics when pasting into deposit/withdraw/send"
See description in #1912

The component that is used for the Amount is this one
   https://github.com/bitshares/bitshares-ui/blob/02ef748a5408be59b1abda7e98dc11a1629d6369/app/components/Modal/WithdrawModalNew.jsx#L1044

The functionality and input/output behavior, especially with regards to the listeners of the component must remain, there must be someway to intercept the copy paste command.

[2018-10-04 13:38] sschiessl-bcp commented on #17
Closed with PR #15

[2018-10-04 13:38] #17 closed, assigned to VerevkinAlexander

[2018-10-05 08:13] VerevkinAlexander commented on #16
I investigated the reason of issue and found that we use general js integer, that is not suitable for operations with currency. I decided to use BigNumber.js.

[2018-10-05 08:17] VerevkinAlexander commented on #1
I deleted all new .catch()

[2018-10-05 10:24] sschiessl-bcp commented on #16
Ok cool, keep me updated what you find out

[2018-10-11 04:59] sschiessl-bcp opened #19 "[1.5] Open Orders are not displayed properly"
Original Issue #1987

[2018-10-11 05:02] sschiessl-bcp opened #20 "[5.5] Hide legacy proposals"
Original issue #1986

[2018-10-12 08:43] sschiessl-bcp commented on #16
Resovled with  #1961

[2018-10-12 08:43] #16 closed, assigned to VerevkinAlexander

[2018-10-16 13:26] sschiessl-bcp commented on #19
Closed with #2018

[2018-10-16 13:26] #19 closed, assigned to VerevkinAlexander

[2018-10-17 12:33] sschiessl-bcp opened #22 "Votable witness list incomplete"
Original issue #2012

[2018-10-17 12:43] sschiessl-bcp opened #23 "[4] Handle proposals related to phishing accounts"
Original issue #1755

- [x] Add toggle in Header of "Proposed transactions": "Deactivate suspicious proposals"
- [x] List of phishing accounts is in app/lib/common/scamAccounts.js, plus blacklist of user (see Burger > Settings > Whitelist)
- [x] If toggle is on, deactive the "Approve" button of such proposals (option to permanently reject remains!)

[2018-10-17 12:51] sschiessl-bcp opened #24 "[Paused] Market guide scrolling issue"
Original issue #1583

You can open the guide by clicking help in the bottom corner of the exchange.

[2018-10-22 06:24] sschiessl-bcp opened #27 "Display Fees in Account Activity"
deleted

[2018-10-22 06:25] sschiessl-bcp opened #28 "[1] Display Fees in Account Activity"
Original Issue https://github.com/bitshares/bitshares-ui/issues/2016

[2018-10-22 11:51] VerevkinAlexander commented on #22
@sschiessl-bcp Original issue is market as invalid , should I fix it?

[2018-10-22 19:28] #27 closed, assigned to nobody

[2018-10-22 20:07] sschiessl-bcp opened #30 "[9.5][Showcases] Paper Wallet"
Original Issue #2023

Place a button for paper wallet creation next to "Reset" and "Save" in Header of Burger Menu -> Permissions until we have decided where it should actually go

First Task: Investigate PDF creation possibilities

[2018-10-22 20:12] sschiessl-bcp opened #31 "[1.5] Check if number pasting parsing is save"
Original Issue https://github.com/bitshares/bitshares-ui/issues/2022

Related Issue https://github.com/blockchainprojects/bitshares-ui/issues/17

[2018-10-23 13:00] #28 closed, assigned to VerevkinAlexander

[2018-10-25 11:39] sschiessl-bcp opened #33 "[6][Showcases] General frame"
Original issue #1857

Branch already created (1857_Showcases_Frame) and header item added (https://github.com/bitshares/bitshares-ui/issues/1857#issuecomment-432995231)

Task:
- [x] Create a component that contains one single tile that has as props:
  - target (function handle or path to navigate to
  - title
  - description
  - icon
- [x] Create a component for the new header item that displays a

[2018-10-29 10:05] VerevkinAlexander commented on #30
I researched the possibility of creation pdf file with dynamic content. it can be performed with jsPdf library. I added the method that receives public and private keys and created a formatted row for pdf with text and QR codes. I a little bit stuck with dynamic elements position because they generate asynchronously. I tried different libraries for qrcode creation but almost all of them are create

[2018-10-29 11:30] sschiessl-bcp commented on #30
The UI already has a library to create the QR codes, please use that one. Asynchronous should be no problem, collect the Promises / async calls until all are completed, then start rendering the pdf.

The logo would be easiest to be provided via a SVG file, similar to the Icons. Does that help?

[2018-10-29 11:30] VerevkinAlexander commented on #30
https://gyazo.com/e5c32062b3d35d3ca60ff08268b1c3d6

[2018-10-29 11:36] VerevkinAlexander commented on #30
sorry for my English. I mean that I am already have resolved those problems and I need the logo image
https://gyazo.com/46974dcdb6c062e52abe84d2a274b2f7

[2018-10-29 12:08] sschiessl-bcp commented on #30
Ah, nice!

Can you try if you can get any of the existing icon (.svg) to be printed in the pdf please? If that works, I will provide you with a .svg with the actual logo

[2018-10-29 14:17] VerevkinAlexander commented on #30
I can do this by converting via "canvg"

[2018-10-29 14:22] VerevkinAlexander commented on #30
Should be pdf file created with empty private keys if a user is not logged in?

[2018-10-29 14:26] sschiessl-bcp commented on #30
I suppose it could be an option to have a public key only wallet. For now force login, we might have different paper wallet styles later on.

[2018-10-30 11:48] VerevkinAlexander commented on #30
Can you provide me with a .svg with the actual logo?

[2018-10-30 11:59] sschiessl-bcp commented on #30
Done, see https://github.com/blockchainprojects/bitshares-ui/commit/a3bd6ae2de3efeb81fce50aacd5b4b25456c9944

[2018-10-30 12:17] VerevkinAlexander commented on #30
Thanks
https://gyazo.com/1a4d7ed114c8d0d6735c03e02d78d960

[2018-10-31 11:32] VerevkinAlexander commented on #33
I created those components. Have you suggestions about style?

[2018-10-31 13:08] sschiessl-bcp commented on #33
Open to suggestions, maybe round corners. Keep it simple for now, styling can be done afterwards as well.

[2018-10-31 13:56] sschiessl-bcp commented on #1
PR accepted

[2018-10-31 14:46] sschiessl-bcp commented on #12
PR #14 accepted

[2018-11-06 07:04] sschiessl-bcp opened #36 "[Paused] Custom installation folder"
Original issue: #2067

Tasks:
 - [x] Investigate Status Quo:
   - [x] Install the UI locally, try to install a second instance
   - [x] Install the UI locally, try to open two instances at the same time. What are the errors?
- [x] Investigate the pointer to electron mentioned in original issue

[2018-11-06 11:59] sschiessl-bcp commented on #30
PR #34 accepted and forwarded https://github.com/bitshares/bitshares-ui/pull/2125

[2018-11-06 14:25] sschiessl-bcp commented on #20
PR accepted and forwarded https://github.com/bitshares/bitshares-ui/pull/2126

[2018-11-07 15:46] sschiessl-bcp opened #40 "committee-account activities page white screen"
Original issue #1999

Please investigate and report where the error comes from.

[2018-11-08 14:01] sschiessl-bcp commented on #1
@VerevkinAlexander

I updated this to the latest modal structure (we switched to ant.design). Something doesnt work correctly anymore when capturing screenshot. I assume its something with the implicit use of content in shouldComponentUpdate.

Can you please have a look?

[2018-11-09 08:24] sschiessl-bcp commented on #30
The npm package canvg has a massive bloat. @VerevkinAlexander please investigate if there are any native alternatives.

I can provide you the header logo also in other picture formats. JSPDF seems to be able to include SVG as well, see here
https://github.com/MrRio/jsPDF/issues/1740#issuecomment-394084681

[2018-11-09 09:17] sschiessl-bcp commented on #23
@VerevkinAlexander Please do https://github.com/bitshares/bitshares-ui/issues/2138, I will hold the PR of this issue until it's done, it will facilitate this feature a lot.

You can either write a script or do it by hand.

[2018-11-09 09:30] #12 closed, assigned to VerevkinAlexander

[2018-11-09 09:31] #22 closed, assigned to VerevkinAlexander

[2018-11-09 09:32] sschiessl-bcp commented on #33
Any update here?

[2018-11-09 09:33] sschiessl-bcp commented on #36
Please report how the current binaries behave with installation.

[2018-11-09 09:59] VerevkinAlexander commented on #36
@sschiessl-bcp
The current version of the installation:
- When 1 instance is installed the second one installs in the same folder and rewrites the previous version
- 2 instances with the same uid cannot be launch, there is an error that application is already launched

[2018-11-09 11:06] #31 closed, assigned to VerevkinAlexander

[2018-11-09 11:06] #20 closed, assigned to VerevkinAlexander

[2018-11-09 11:08] sschiessl-bcp commented on #5
Does this still reproduce?

[2018-11-09 15:18] VerevkinAlexander commented on #40
@sschiessl-bcp
This issue is reproduced with 100% rate in the case when we open several browser tabs with any page. Its occurs during fetching in gatewayMethods.js .  It`s not reproduced with FireFox and looks like a Chrome feature https://www.chromestatus.com/feature/5527160148197376

[2018-11-11 21:49] sschiessl-bcp opened #42 "[6] Exchange Vertical Orderbook rendering warnings"
Original issue #2151

Please investigate which Components produce these Errors. The exchange (https://github.com/bitshares/bitshares-ui/blob/develop/app/components/Exchange/Exchange.jsx) is a beast, try examining the stack trace and code carefully to find out when the warnings are produced.

[2018-11-12 12:29] VerevkinAlexander commented on #30
This method is used the same canvg.

[2018-11-12 20:32] VerevkinAlexander commented on #30
I tried to use .addSvgAsImage(), but no luck . There is some issue inside this method. I debugged it and find that canvg inside this method cant be called because it is not imported to it. Maybe it works only if we add jspdf as a link. Also i tried to use fork from jsPdf (svg2pdf) to add svg file. Also I tried to convert svg to base 64 and give it to jsPdf , add svg as Image -both approaches do no

[2018-11-13 14:43] VerevkinAlexander commented on #40
The reason of white screen was missing notification component in bitshares-ui-style-guide. After deleting node modules and reinstalling the package problem gone

[2018-11-13 14:51] VerevkinAlexander commented on #33
No. Should I take other tasks from the original issue?

[2018-11-13 15:33] sschiessl-bcp commented on #33
I thought you will create a new style. But if you won't that is fine. Please create PR

[2018-11-13 16:11] sschiessl-bcp commented on #30
Ok, do you need me to convert anything?

[2018-11-13 16:32] VerevkinAlexander commented on #30
No. Only approve to make it  :-)

[2018-11-13 19:22] VerevkinAlexander commented on #1
@sschiessl-bcp
I found reasons of the issue and fixed it also I fixed the issue with modal rendering and added the method for ok button in the modal.

[2018-11-14 07:48] sschiessl-bcp commented on #30
Yes please.

[2018-11-14 10:04] sschiessl-bcp opened #43 "[2] Resolve scam accounts to IDs"
Original issue #2138

[2018-11-14 11:48] sschiessl-bcp opened #44 "Exchange page, my open orders, wrong price direction"
Original Issue #2157

Issue is probably in MyOpenOrders.jsx, it should display the orders with respect to the currently visible market.

[2018-11-14 12:02] sschiessl-bcp commented on #40
Was there any code change necessary now?

Or is the multiple tab reason above the only reason? Does it still reproduce after reinstalling with multiple tabs?

[2018-11-14 13:44] VerevkinAlexander commented on #40
oh sorry, This comment is not for this issue

[2018-11-14 18:35] VerevkinAlexander commented on #23
@sschiessl-bcp  I have done Resolve scam accounts to IDs #2138. Also, I added the script for scamAccounts file parsing? but it does not work because can`t get data from api, I think I should do some initialization, but I did not found how. Maybe you can help me with this. Please look at when you have time.

[2018-11-14 18:37] VerevkinAlexander commented on #23
PR #32

[2018-11-14 19:06] startailcoon commented on #42
Hint to try out https://github.com/bitshares/bitshares-ui/blob/develop/app/components/Exchange/OrderBook.jsx#L39 firstly.

[2018-11-14 19:09] VerevkinAlexander commented on #30
@sschiessl-bcp I changed svg file to png and deleted canvg. Please review it.

[2018-11-15 18:21] VerevkinAlexander commented on #42
@sschiessl-bcp
1 The issue happens because 1 actionCard has no key
https://github.com/blockchainprojects/bitshares-ui/blob/develop/app/components/Exchange/Exchange.jsx#L2729
Also, similar issue reproduced if switch window with exchange tab from full-screen view to small screen view
https://github.com/blockchainprojects/bitshares-ui/blob/develop/app/components/Exchange/Exchange.jsx#L2695
Adding key

[2018-11-16 13:15] sschiessl-bcp commented on #43
Done

[2018-11-16 13:15] #43 closed, assigned to VerevkinAlexander

[2018-11-16 13:28] #23 closed, assigned to VerevkinAlexander

[2018-11-16 13:29] sschiessl-bcp commented on #23
Done with https://github.com/bitshares/bitshares-ui/pull/2178

[2018-11-16 13:30] sschiessl-bcp commented on #44
Fixed with https://github.com/bitshares/bitshares-ui/issues/2110

[2018-11-16 13:30] #44 closed, assigned to nobody

[2018-11-16 14:11] sschiessl-bcp commented on #30
You accidently changed Exchange.jsx in the corresponding pull request, please make sure not to commit format only changes.

I really like the paperwallet now, this is done!

[2018-11-16 14:21] #30 closed, assigned to VerevkinAlexander

[2018-11-16 14:29] VerevkinAlexander commented on #30
Oh sorry, I don't remember that I commit some Exchange.jsx changes,  maybe this was prettier precommit hook

[2018-11-16 14:32] #1 closed, assigned to VerevkinAlexander

[2018-11-16 14:44] sschiessl-bcp commented on #42
Please investigate how this could be fixed. Also play around in the Exchange to see if you can find more warnings.

[2018-11-16 18:02] VerevkinAlexander commented on #42
Found issue occurs in Tabs.jsx https://github.com/blockchainprojects/bitshares-ui/blob/develop/app/components/Utility/Tabs.jsx#L72 .To fix it we can delete span block and convert title with span type to string type

[code]
Also I found 2 new issues. They happens during personalize modal openning
![image](https://user-images.githubusercontent.com/43240282/48638819-67e4f280-e9da-11e8-96c8-8f41faf5e4

[2018-11-19 13:45] sschiessl-bcp opened #46 "Integration Testing - Transfer modal covering login modal"
https://github.com/bitshares/bitshares-ui/issues/2173

[2018-11-19 13:52] sschiessl-bcp opened #47 "Integration Testing - Private Login retaining information"
https://github.com/bitshares/bitshares-ui/issues/2176

[2018-11-19 14:04] sschiessl-bcp opened #48 "Interval control on Exchange"
https://github.com/bitshares/bitshares-ui/issues/2145

Before starting this, please familiarize yourself with TradingView and get back to me to discuss options.

[2018-11-19 14:57] VerevkinAlexander commented on #42
Options do not display.
![image](https://user-images.githubusercontent.com/43240282/48714602-b46b4080-ec1b-11e8-873a-c2df175b50ee.png)

[2018-11-19 15:12] sschiessl-bcp commented on #42
Any error messages in log?

[2018-11-19 20:06] VerevkinAlexander commented on #42
There are no error messages in log. I think the reason of issue in my fix of Select.Option issue. I think the problem is in the methods that set value for SELECT component, I need to dig deeper

[2018-11-19 20:10] VerevkinAlexander commented on #47
@sschiessl-bcp

Logged in with Account X, remember me checked.
Logged in with Account Y, remember me unchecked.
Logged out
Navigated to login - Account Y showing
Refreshed Browser window then went to login - Account X showing.

It is cannot be true because when we disable "Remember me" localStorage does not collect user name  and it cannot be displayed.
I am not sure, but I think that issue can be

[2018-11-20 14:43] VerevkinAlexander commented on #48
@sschiessl-bcp  I have started this task.

[2018-11-20 14:48] VerevkinAlexander commented on #48
I asked tradingview team to grant access to their repository

[2018-11-20 15:03] VerevkinAlexander commented on #48
I researched and found that features can be disabled in https://github.com/blockchainprojects/bitshares-ui/blob/develop/app/components/Exchange/TradingViewPriceChart.jsx#L33
For adding new dates should be added new resolutions to supported_resolutions.
Now I am searching for how to add new buttons to the widget`s header

[2018-11-20 15:13] sschiessl-bcp commented on #47
I could reproduce it, will check it

[2018-11-20 15:15] sschiessl-bcp commented on #48
The Header should not be within TradingView, but rendered above it since the header will also allow to switch the chart (such that TradingView might not be present anymore).

[2018-11-20 16:35] VerevkinAlexander commented on #47
@sschiessl-bcp Please look at, maybe I am doing something wrong?
![20181120180410](https://user-images.githubusercontent.com/43240282/48788165-ebf8ec00-ecf2-11e8-8442-3e683d01b644.gif)

[2018-11-22 13:27] sschiessl-bcp commented on #46
Fixed with https://github.com/bitshares/bitshares-ui/commit/31abbce958687209e0b01569c0eced44e455b975

[2018-11-22 13:27] #46 closed, assigned to VerevkinAlexander

[2018-11-22 13:28] #47 closed, assigned to sschiessl-bcp

[2018-11-22 13:32] sschiessl-bcp opened #52 "[4] Integration Testing - Edge Browser stuck on Loading"
Original Issue #2175

Please investigate why edge fails to load. I heard that the OpenLedger UI (https://openledger.io/) can open on edge, please try that, also CryptoBridge (https://wallet.crypto-bridge.org/).

[2018-11-22 13:35] sschiessl-bcp opened #53 "[11] ANTify tooltips"
Original issue https://github.com/bitshares/bitshares-ui/issues/2137

Please see the issue for the task list, report back in here with your suggested solution.

Estimate 2 for creating one replacement for review (see original issue)

[2018-11-22 17:18] VerevkinAlexander commented on #52
I found next article http://mikemclin.net/fixing-error-script1028-expected-identifier-string-or-number/ Also The first way is to include a trailing comma after your last property in a JavaScript object.
build and node_modules have trailing commas
The other common trigger is using a JavaScript reserved word as a property name. - it is not our case

[2018-11-22 17:22] VerevkinAlexander commented on #52
One more helpfull article:
 https://stackoverflow.com/questions/44455083/error-script-1028-expected-identifier-string-or-number-with-ie11

[2018-11-22 19:13] VerevkinAlexander commented on #53
There are 105 tooltips in the project.
As they are placed in different components and Ant Tooltip should be a wrapper for components I do not see the way ho to replace them by a script.
 For tooltips, without actions inside it, we can use ToolTip, if we need to add some link to the tooltip or add action we can use Popover
PR #54 added for review

[2018-11-23 14:16] sschiessl-bcp commented on #53
Please do a couple more (maybe 5 more) so I can get a better idea of the integration, looking good so far.

[2018-11-23 21:47] VerevkinAlexander commented on #52
The issue is not reproduced on September`s release. I found the reasons for those issues It was in webpack.config "jsnext: main" filed and old "alt" libraries. I fixed the issue but IE 11 does not work at all because it is not supported needed technologies. At all, I spent about 8h to find and resolve it During implementation, I found new UI issue on Edge
![image](https://user-images.githubusercon

[2018-11-26 10:07] sschiessl-bcp commented on #52
Internet Explorer not working is fine. Edge should work.

[2018-11-26 10:07] sschiessl-bcp commented on #52
What was
`jsnext:main`
used for?

[2018-11-26 10:45] sschiessl-bcp opened #56 "[27][Showcases] Escrowed transfer, or off-the-book trade"
Original Issue https://github.com/bitshares/bitshares-ui/issues/1859

I have created a mockup on paper, I hope you can follow what I tried to visualize
![image](https://user-images.githubusercontent.com/33128181/49009142-0c4ffd00-f170-11e8-900c-2f24ab8d49ae.png)

Please create a component for that, that also hooks into the header (dynamic item) with its own route. In the picture there are sub-comp

[2018-11-26 12:20] VerevkinAlexander commented on #52
As I know it was needed for supporting ES2015 module syntax, but it is deprecated and was changed on "module"

[2018-11-26 13:24] VerevkinAlexander commented on #53
Added more tooltips

[2018-11-26 21:10] VerevkinAlexander commented on #56
I created  new component EscrowedTransfer and added 3 blocks with components to it

[2018-11-28 09:08] sschiessl-bcp commented on #53
Please continue with this issue. Let me know when you encounter any unusual rendering or usages or tooltips

[2018-11-28 09:09] sschiessl-bcp commented on #56
Estimate 10 with implementation.

[2018-11-28 10:50] sschiessl-bcp opened #58 "[1] Voting Shortcut"
Original issue https://github.com/bitshares/bitshares-ui/issues/2231

[2018-11-28 10:55] sschiessl-bcp commented on #52
Do you have any sources links for me on that please?

[2018-11-28 14:33] VerevkinAlexander commented on #53
ok

[2018-11-28 15:17] VerevkinAlexander commented on #52
https://github.com/jsforum/jsforum/issues/5
https://github.com/rollup/rollup/issues/969

[2018-12-13 17:36] VerevkinAlexander commented on #53
@sschiessl-bcp  I found that Ant Tooltip does not support the HTML-like text format
https://github.com/blockchainprojects/bitshares-ui/blob/develop/app/components/Account/CreateAccountPassword.jsx#L271
https://github.com/blockchainprojects/bitshares-ui/blob/develop/app/components/Modal/BorrowModal.jsx#L1056
https://github.com/blockchainprojects/bitshares-ui/blob/develop/app/components/Utility/Asse

[2018-12-19 16:31] VerevkinAlexander commented on #53
I have found the solution for this
` <Tooltip overlay={<div dangerouslySetInnerHTML={{ __html: counterpart.translate("tooltip.generate") }}></div>}>`

But in this way, we will include XSS vulnerability

[2018-12-21 13:53] #58 closed, assigned to VerevkinAlexander

[2018-12-21 14:18] #42 closed, assigned to VerevkinAlexander

[2019-01-08 14:47] VerevkinAlexander commented on #53
@sschiessl-bcp is it possible to use dangerouslySetInnerHTML ?

[2019-01-11 12:32] sschiessl-bcp opened #60 "[11.5] Dashboard Portfolio columns"
Original issue ##2311

Use the styleguide tables instead of the existing ones, see for example the explorer. Please contact me if anything is unclear

Estimate: 7

[2019-01-11 12:33] sschiessl-bcp opened #61 "Show reason why a proposal has failed to execute"
Original issue #2288

The failure reason should be one of the fields of the proposal object. Please suggest where to include the failure reason in the UI before implementation

[2019-01-14 00:02] sschiessl-bcp opened #63 "[1.5] WSOD on asset details page"
Original issue https://github.com/bitshares/bitshares-ui/issues/2403

[2019-01-14 00:03] sschiessl-bcp commented on #63
Estimate: 2

[2019-01-14 00:03] sschiessl-bcp commented on #61
Estimate: 4

[2019-01-15 12:15] VerevkinAlexander commented on #60
I researched how to change existing data scheme to scheme needed in BitsharesTable. Also, I added a table from bitshares style guide and created a header for it. I've changed data scheme for rows to the new one and created sort methods for columns. I`ve fixed several style issues. Also, I faced with problem when Activity table stops working. It happens because PaginatedList component that I change

[2019-01-15 13:52] VerevkinAlexander commented on #60
Inside RecentTransactions (Activity tab) the is an Operation component that should send rows to the table, but it has wrong data format. So I see 2 ways of implementation:
- to create a parser for data from Operation component
- to fix Operation component but, because it is using in several other components it will take a huge impact

[2019-01-15 13:54] sschiessl-bcp commented on #60
Can you create a wrapper for Operation component, that complies to the necessary format? What is wrong?

[2019-01-15 14:47] sschiessl-bcp commented on #53
Best not to, but acceptable for the transition. How many cases have you found?

[2019-01-15 15:20] #56 closed, assigned to VerevkinAlexander

[2019-01-15 15:20] #33 closed, assigned to VerevkinAlexander

[2019-01-15 15:21] #5 closed, assigned to VerevkinAlexander

[2019-01-15 15:22] sschiessl-bcp commented on #40
Can you check this comment please
https://github.com/bitshares/bitshares-ui/issues/1999#issuecomment-445359238

[2019-01-15 15:26] sschiessl-bcp opened #64 "[4] Edge Browser stuck on Loading, show Unsupported message"
Original issue https://github.com/bitshares/bitshares-ui/issues/2407

[2019-01-15 15:27] sschiessl-bcp commented on #52
Moved to new task

[2019-01-15 15:27] #52 closed, assigned to VerevkinAlexander

[2019-01-15 16:19] VerevkinAlexander commented on #53
4

[2019-01-16 12:26] sschiessl-bcp opened #65 "[2] Paper wallet truncates at one page"
Original issue #2395

[2019-01-16 14:43] VerevkinAlexander commented on #61
Hi, @sschiessl-bcp.  I don't properly understand, how to reproduce the problem from task context. Can you give me a tip?
http://joxi.ru/KAxxBZ5cMPKdMA

[2019-01-16 17:03] VerevkinAlexander commented on #60
I have researched how Operation component is used in Activity tab rendering. I've created 2 parameters for the Activity table a header and a data source. I was stuck on sending data from Operation component and did not find a method how to take data from operation component. So I decided to create own class OperationAnt.js with needed methods and data. Also, I fixed styles for portfolio and Activi

[2019-01-22 12:54] sschiessl-bcp opened #69 "[4] Add memo to every selector in the Barter proposal feature"
Original Issue https://github.com/bitshares/bitshares-ui/issues/2408

Please checkout the changes I made to finalize the Barter feature. Next step now is to include an optional memo everywhere an amount is given.

![image](https://user-images.githubusercontent.com/33128181/51536703-c308ea80-1e4c-11e9-9617-430a34ea7886.png)

In the image that would be four places. I imagine to have an icon either o

[2019-01-23 10:58] sschiessl-bcp opened #70 "White tradingview screen"
Please investigate if you can reproduce this issue
https://github.com/bitshares/bitshares-ui/issues/2303

[2019-01-23 11:00] sschiessl-bcp opened #71 "[1] Smartcoin flag re-enables itself after cancelled 'save changes' login prompt?"
Original issue #2043

[2019-01-23 11:01] sschiessl-bcp commented on #71
Estimate 3

[2019-01-23 11:57] #65 closed, assigned to VerevkinAlexander

[2019-01-23 12:15] #63 closed, assigned to VerevkinAlexander

[2019-01-23 13:04] #53 closed, assigned to VerevkinAlexander

[2019-01-24 13:21] VerevkinAlexander commented on #69
@sschiessl-bcp after adding memos to elements of transfer list, I get error: http://joxi.ru/BA0j5y4HJ6z5gm
This is also true for "send" and "propose" transactions http://joxi.ru/ZrJJz6qt9Kgabr.
I think this issue is added in "2.0.19" version. Should I fix it?

[2019-01-24 14:56] VerevkinAlexander opened #72 ""Send" transaction is failed"
**Describe the bug**
Send transaction is failed.

**To Reproduce**
1. Go to https://develop.bitshares.org
2. Open menu.
3. Go to send or lagacy send.
4. Create a send transaction.
5. See error in console.

**Screenshots**
http://joxi.ru/VrwXEKQTOy3KEm

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser Chrome last
- version "2.0.190123-rc1"

[2019-01-24 17:37] VerevkinAlexander commented on #70
On my system  I wasn't able to reproduce this bug.

Setup:
Win 10 x64 and  Win 8.1 x64
Opera 58.0.3135.47
Chrome 71.0.3578.98
FireFox 64.0.2

Screenshots on Win 8, Opera 58:
https://gyazo.com/53759cbb0327d81ad1c0b08d2eb0ab62

[2019-01-24 21:51] sschiessl-bcp commented on #69
Ah. I know what's broken. I ll fix that tomorrow.

[2019-01-24 21:52] sschiessl-bcp commented on #69
How did you solve UX now?

[2019-01-25 08:36] VerevkinAlexander commented on #69
It's ok, I will create a pull request today.

[2019-01-25 16:26] VerevkinAlexander commented on #70
Should we proceed with investigation or postpone it?

[2019-01-28 06:28] #71 closed, assigned to VerevkinAlexander

[2019-01-28 06:58] sschiessl-bcp commented on #69
I see that the error http://joxi.net/BA0j5y4HJ6z5gm remains, I will have a look at that now

[2019-01-28 11:23] VerevkinAlexander commented on #69
@sschiessl-bcp, I added _updateFee onMemoChanged.

[2019-01-29 10:58] sschiessl-bcp opened #76 "[3.5] Add login enhancement when account is locked"
Original issue #2396

Please implement:
 - If the wallet unlock modal pops up, and a username is already preselected, the focus should be in password
 - check if enter keypress on password field submits the modal
 - please add a "Auto-lock after: " with a textfield next to the login button. investigate where the number is defined that causes the wallet to auto-lock by itself

Estimate: 5

[2019-02-01 07:08] #76 closed, assigned to VerevkinAlexander

[2019-02-04 09:30] sschiessl-bcp opened #78 "Staging testing - Borrow spotlight login prompt"
Original issue #2438

Estimate 1

[2019-02-04 09:31] sschiessl-bcp opened #79 "Not loading in Firefox"
Original issue #2437

Please investigate! Do you have that OS / Browser version available for testing? If not, browserstack account?

Estimate 4

[2019-02-04 09:34] sschiessl-bcp opened #80 "Can't switch to market trades when there isn't any history trades"
https://github.com/bitshares/bitshares-ui/issues/2385

Please try to reproduce

[2019-02-05 14:11] VerevkinAlexander commented on #79
@sschiessl-bcp
The issue is present in Firefox in "private mode". I have checked on Ubuntu 18.04 and Windows 10.
It's because of depending on IndexDB, which don't work in Firefox in "private mode". https://bugzilla.mozilla.org/show_bug.cgi?id=781982
Used polyfill "IndexedDBShim" depends on webSQL which is not supported by Firefox at all https://caniuse.com/#search=websql

[2019-02-05 14:33] sschiessl-bcp commented on #79
Oh, I overlooked the private mode in the issue... Yea, then it is clear

[2019-02-05 15:19] VerevkinAlexander commented on #78
@sschiessl-bcp
I could not reproduce the issue.

**Steps I took:**

- Not loged in, go through the 'Collateralized Debt Position' wizard.
- Choose the SmartCoin
- Click on "borrow" button.
- Click on "update position" button.

**Result:**
"login" modal is popes up.

Environment:
* OS: macOS 10.14.3 and Win 10
* Chrome and Mozilla latest

[2019-02-06 07:16] VerevkinAlexander commented on #80
@sschiessl-bcp
I could not reproduce the issue.

Opened https://wallet.bitshares.org/#/market/CRYPTRADE.CRCO_CRYPTRADE.BTC link. Switched to "market trades" tab, http://joxi.ru/MAjQEvMf4M7qP2

Environment:
OS: macOS 10.14.3 and Win 10
Chorme and Mozilla latest

[2019-02-06 08:24] sschiessl-bcp commented on #79
If the user does not use local wallet the indexedDB should not be needed.

What part of the source initializes the indexedDB? I am wondering if it is possible to skip initiliazing if that exception is thrown and only allow Cloud login then.

What are your thoughts?

[2019-02-06 08:25] sschiessl-bcp commented on #72
Should work now, please confirm

[2019-02-06 08:26] sschiessl-bcp commented on #70
Postpone for now

[2019-02-06 08:32] sschiessl-bcp commented on #61
Have a look at components/Account/Proposal, in the render method
![image](https://user-images.githubusercontent.com/33128181/52329052-f96c6b00-29f1-11e9-89db-82396a32498e.png)

The proposal object should have a `fail_reason` field, if that is filled please show it in the UI.

To create a failed proposal: Create a proposal for your own account and try to transfer more BTS than you currently have. T

[2019-02-06 12:15] VerevkinAlexander commented on #72
@sschiessl-bcp
I'm not sure. Now from "send" tab it creates a "send" proposal. But should perform direct send. Am I correct?
http://joxi.ru/Drl6gwOUvNDnW2

[2019-02-06 12:19] sschiessl-bcp commented on #72
Apologies, I think our repository was not in-sync with bitshares..

It is now. Please rebase

[2019-02-06 14:17] VerevkinAlexander commented on #61
@sschiessl-bcp
I have created a failed proposal in this way:

- send from one account to another more assets than it has
- to make this possible, I had to disable amount validation http://joxi.ru/D2PJzaBtpOeL9r in components/modal/SendModal
- than click on "approve" http://joxi.ru/l2Zb47VUwJ5J02, and approve transaction

After this in proposals obj, I could not find failed reason http://joxi.ru/82

[2019-02-06 14:31] VerevkinAlexander commented on #72
Yes, now it's ok.

[2019-02-06 15:06] VerevkinAlexander commented on #79
@sschiessl-bcp
It is initialized in WalletManagerStore and routerTransition and used in various stores
http://joxi.ru/vAWbzkYU1w5DD2.
I think it can be possible to skip initialization of indexDB, but it will require refactoring of stores. And can introduce some bugs.

[2019-02-07 09:43] sschiessl-bcp commented on #79
First task:

Please refactor that the indexedDB is ONLY initialized in one central file (similar to what we did to https://github.com/blockchainprojects/bitshares-ui/issues/11 for localStorage).

Before actually changing anything we need to test if it works as expected.

Once that is done we can think about allowing it to load without an implementation and how to mock it up properly

[2019-02-07 09:47] #72 closed, assigned to nobody

[2019-02-07 09:49] sschiessl-bcp commented on #61
What you have marked there are the proposal ids, you need the proposal object!

It should be available in the object stored in `proposal.proposal` that you can see in the screen you have posted above.

[2019-02-07 12:09] VerevkinAlexander commented on #61
@sschiessl-bcp
I checked "proposal.proposal" object, but `fail_reason` property is absent. Can be a problem in testnet? For checking on mainnet, I don't have account with assets.
http://joxi.ru/p27KalLCoaw3J2

[2019-02-07 12:19] #80 closed, assigned to VerevkinAlexander

[2019-02-08 13:33] #64 closed, assigned to VerevkinAlexander

[2019-02-09 13:57] VerevkinAlexander commented on #79
@sschiessl-bcp
Idb-instance has method for initialization, called "init_instance". It is used during wallet creation and after switching between web-socket nodes. So, basically, it's already initialized in one central file.
Should I add method for blocking initialization or returning the mock in place of iDB? But this mock can get very "heavy".

[2019-02-11 14:41] sschiessl-bcp commented on #79
Can you show the github permlink to that code please? Not on desktop atm

[2019-02-11 14:58] sschiessl-bcp commented on #61
I'm investigating, pause for now

[2019-02-11 15:40] VerevkinAlexander commented on #79
@sschiessl-bcp
method for initialization:
https://github.com/blockchainprojects/bitshares-ui/blob/3d3ad8e9ffdbebbaab673d57dc67c5cf9cb26ac4/app/idb-instance.js#L116

Init of indexDB instance:
https://github.com/blockchainprojects/bitshares-ui/blob/3d3ad8e9ffdbebbaab673d57dc67c5cf9cb26ac4/app/routerTransition.js#L709
https://github.com/blockchainprojects/bitshares-ui/blob/3d3ad8e9ffdbebbaab673d57dc6

[2019-02-19 14:40] sschiessl-bcp opened #81 "[6.5] #2461"
https://github.com/bitshares/bitshares-ui/issues/2461

[2019-02-20 10:28] sschiessl-bcp opened #82 "#2480"
https://github.com/bitshares/bitshares-ui/issues/2480

[2019-02-20 11:43] sschiessl-bcp commented on #78
Have you tried local wallet as well?

Clear browser cache and try, then import a local wallet and try.

[2019-02-20 15:19] sschiessl-bcp commented on #70
There is new information now in original issue. Please try again to reproduce

[2019-02-21 09:19] VerevkinAlexander commented on #82
@sschiessl-bcp
So far, I have been unable to reproduce this issue, tried on different builds, mainnet and tesnet.

[2019-02-21 09:57] sschiessl-bcp commented on #82
Are you running a dev setup? What is your console output when the asset select is visible? Got a screen?

[2019-02-22 10:45] sschiessl-bcp commented on #78
@VerevkinAlexander ping

[2019-02-22 13:05] VerevkinAlexander commented on #82
@sschiessl-bcp
I have tried on dev and prod versions. The console is clear http://joxi.ru/Rmz1ERgS08Q54r

[2019-02-22 13:12] VerevkinAlexander commented on #78
@sschiessl-bcp
No I have not. Thanks, I'll try as soon as possible.

[2019-02-25 10:01] VerevkinAlexander commented on #70
I investigated this issue it is somehow related to trading view widget. But I was not able to reproduce it on my system. Maybe it's better to wait until reporter of bug tries on the different machine?

[2019-02-25 14:28] VerevkinAlexander commented on #78
@sschiessl-bcp
I have created a local wallet containing an account. Then I took the next steps:

Log in with that local wallet.
Lock it.
Go to Spotlight > Collateralized Debt Position  https://develop.bitshares.org/#/borrow
Go through Collateralized Debt Position wizard.
Select a smartcoin.
Сlick on the "Borrow" button.
Click on "Update" button

Result: "login" popup is shown on the screen.
Setup:

[2019-02-28 08:30] driverdevteam opened #84 "[25] Implement recurring payment / direct debit mandate"
Implement the next spotlight: recurring payment / direct debit mandate

It will be a new panel that shows when you click on the spotlight with two sections. Within that panel, you will open one modal that is very similar to the send modal

Context 1 - https://github.com/bitshares/bitshares-ui/issues/30#issuecomment-445986847
Context 2 - https://github.com/bitshares/bitshares-ui/issues/2457#issue-4

[2019-02-28 11:24] VerevkinAlexander commented on #84
@sschiessl-bcp
Could you shade some light about UX?
So after user clicks on "Direct debit" tab http://joxi.ru/p27KalLCoy5e62 it will see page (panel) with to sections, from there it can open modal, that contains this form http://joxi.ru/YmEJz4kt0N3N42

[2019-02-28 14:45] sschiessl-bcp commented on #84
Who are you @driverdevteam ?

[2019-02-28 14:49] sschiessl-bcp commented on #84
Yes exactly. I imagine the two sections to be on top of each other.

The top panel will be a table-like view of all given and received direct debit mandates, the lower component will be with some descriptive text and explanations.

The table-like view will have a plus button in the top that opens the modal that you have posted. The modal will need similar features to the send modal (calculation of

[2019-02-28 14:59] sschiessl-bcp opened #85 "[4] #2499 Proposed Transactions"
https://github.com/bitshares/bitshares-ui/issues/2499

[2019-02-28 15:01] sschiessl-bcp commented on #85
In the dashboard of the UI there is a "Proposed Transaction" row. It renders a proposals and all contained operations.

This task is to render those operations in a more user friendly way.

First task for you: Get familiar how operations are rendered and ping me afterwards. I will then provide you what to show for each operation

[2019-02-28 15:15] VerevkinAlexander commented on #84
@sschiessl-bcp
Please, create a mockup.

[2019-03-01 09:29] VerevkinAlexander commented on #85
I will take on this task after #84

[2019-03-01 10:50] sschiessl-bcp commented on #84
In general there are two operations that the [user can broadcast](https://github.com/bitshares/bitshares-ui/issues/30#issuecomment-273884878):
 - withdraw_permission_create_operation
 - withdraw_permission_claim_operation
The `withdraw_permission` returned from `get_full_account` (I think that is the default for ChainStore) contains information on all given and reveived withdrawal permissions.

<h

[2019-03-05 11:00] sschiessl-bcp commented on #24
Closed without solution

[2019-03-05 11:00] #24 closed, assigned to VerevkinAlexander

[2019-03-05 14:16] #81 closed, assigned to VerevkinAlexander

[2019-03-05 14:18] sschiessl-bcp commented on #78
Ok thank you!

[2019-03-05 14:18] #78 closed, assigned to VerevkinAlexander

[2019-03-05 14:21] sschiessl-bcp commented on #82
Ok thank you!

[2019-03-05 14:21] #82 closed, assigned to VerevkinAlexander

[2019-03-06 13:20] VerevkinAlexander commented on #84
@sschiessl-bcp
Is there a typo in mock-up http://joxi.ru/bmoLEDOUxp0yK2?
Should I make actual transaction to blockchain for "withdraw_permission_create_operation" and "withdraw_permission_claim_operation"? If so, is there a documentation about it's params?
And are there plans to add antd DatePicker component to bitshares-ui-style-guide? For now I'll customize antd DatePicker...

[2019-03-06 13:26] sschiessl-bcp commented on #84
- https://github.com/bitshares/bitshares-ui/issues/30#issuecomment-273884878
- We can move over the DatePicker to style guide when you are done

[2019-03-07 10:58] VerevkinAlexander commented on #84
@sschiessl-bcp
Could you tell me, what 25 and 27 number mean? http://joxi.ru/52abgGQU4VQPxA
And from your previous answer, I didn't understand next things. Should I make actual transaction to blockchain, or to stop on forming params for transaction in onSubmit method as in "Barter"?

[2019-03-07 11:27] sschiessl-bcp commented on #84
Apologies for the lack of explanation.25 and 27 are the operation ids, and what you see there is the actual payload how it gets sent to the blockchain. The second argument is the payload, which corresponds to the arguments in bitsharesjs.

The ids are mapped to the operation name, to use them you do
[code]

More details are also listed here https://github.com/bitshares/bitsharesjs/blob/d99517326be

[2019-03-11 10:10] sschiessl-bcp opened #86 "[7] #1669"
https://github.com/bitshares/bitshares-ui/issues/1669

Preliminary questions, when you have tradingview visible on an exchange:
 - can you login there with a tradingview account to see your settings?
 - does it remember your drawings even without being logged in or saving a template?

If you save a template it should obviously be available on the site when loaded next time

[2019-03-11 12:25] #69 closed, assigned to VerevkinAlexander

[2019-03-11 12:56] VerevkinAlexander commented on #84
@sschiessl-bcp
I have created modal for creation of withdraw permission and started working on table view. But to proceed I need data from blockchain. What should I do? Wait for you to implement call to blockchain for "withdraw_permission_create_operation"?

[2019-03-13 12:55] VerevkinAlexander commented on #85
@sschiessl-bcp
Proposal operations are rendered by "ProposedOperation" component. It has switch-case conditions over operation type.
For example "transfer" operation: http://joxi.ru/BA0j5y4HJGoV9m we can see "TranslateWithLinks" component which renders text string http://joxi.ru/krDJzP9tEQ53P2

[2019-03-13 13:01] sschiessl-bcp commented on #84
I'm working on implementing that on the background, please assume that there is a call that gives you withdrawal permissions for a given account id, and use a mockup object for now, e.g.
[code]

[2019-03-13 14:45] VerevkinAlexander commented on #86
Yes, I can log in to trading view (https://www.tradingview.com) or https://www.bitfinex.com/trading and see my settings, they are stored on a server.

Saving is available through different options: auto-save every 1 minute (optional), manual ... http://joxi.ru/eAOBzZ4Hx0qM62

Without being logged in it's not remembers my drawings.

[2019-03-13 15:34] VerevkinAlexander commented on #86
On Bitshares trading view, I have found only option to save "indicator template" http://joxi.ru/J2bbg05UXjyWg2.
It works for indicators but not for drawings.

[2019-03-15 09:06] sschiessl-bcp commented on #85
Ok super.

In the first Step I would like you to refactor while keeping the existing logic. The goal is

 - each operation has its own component
 - the component lazy loads all information that it needs to render the operation. this can be either by receiving it via props, and if not given, fetches it by itself

[2019-03-15 09:07] sschiessl-bcp commented on #86
Ok, do you have an idea what we need to enable logging in on our site?

[2019-03-15 09:08] sschiessl-bcp commented on #86
Does this work without logging it?

[2019-03-15 12:04] VerevkinAlexander commented on #86
Yes, these "study templates" are stored on tradingView servers. So when you save one, it's available everywhere.
![image](https://user-images.githubusercontent.com/43240282/54430005-d8064980-472a-11e9-8185-9493e80f8d53.png)
![image](https://user-images.githubusercontent.com/43240282/54430081-16036d80-472b-11e9-8f46-7f74305451bb.png)

[2019-03-15 12:14] VerevkinAlexander commented on #86
Do you mean, logging in via account from https://www.tradingview.com ?
I think you didn't get my point: https://www.tradingview.com and https://www.bitfinex.com/trading implement separate log in logic, you can't login on https://www.bitfinex.com/trading with account from https://www.tradingview.com.

I guess, this https://www.jianshu.com/p/c2e9866c2b99 should be done to implement custom saving and

[2019-03-15 12:20] sschiessl-bcp commented on #84
I've updated your branch to allow the creation of permissions, and have already created two if you want an account to test with. I have also included fetching the permissions.

The account with two permissions (one receiver onre giver) is blockchainprojectsbv-test-2.

Please continue :)

[2019-03-15 12:41] OnyxPay commented on #84
@sschiessl-bcp
Super, thanks a lot. I'll do.

[2019-03-15 12:42] VerevkinAlexander commented on #84
@sschiessl-bcp
Super, thanks a lot. I'll do.

[2019-03-15 12:44] sschiessl-bcp commented on #84
Current state for that account

![image](https://user-images.githubusercontent.com/33128181/54432058-6b8a4b00-4728-11e9-96f4-f3bfd88b21bb.png)

![image](https://user-images.githubusercontent.com/33128181/54432110-8f4d9100-4728-11e9-9380-b6aa034ad935.png)

[2019-03-18 10:35] VerevkinAlexander commented on #85
@sschiessl-bcp
I have finished refactoring operations to separate react components. In total there are 51 operations.

[2019-03-19 10:47] sschiessl-bcp commented on #86
Ok I see.

So I guess what I want is the login functionality that TradingView offers
![image](https://user-images.githubusercontent.com/33128181/54600322-ca0f3c00-4a3c-11e9-8881-0ee9b42044c1.png)

When I click Save there, it asks for a login
![image](https://user-images.githubusercontent.com/33128181/54600348-db584880-4a3c-11e9-8786-ca9c027e5203.png)

Please find out if that is TradingView default

[2019-03-20 07:36] VerevkinAlexander commented on #86
So in our case, we can save settings only local in localStorage, is it?

[2019-03-20 07:36] sschiessl-bcp commented on #85
Super!

Follow up with
 - reducing the massive switch `switch (ops[op[0]])` to fill the variable `column` into something like
[code]
- checking how normal operations are rendered. Your changes are targeting the rendering of operations within a proposal. The operations are also rendered in the Account activity, how is it there?

[2019-03-20 07:38] sschiessl-bcp commented on #86
Yes, at the very least. Does TradingView come with any other default login choices?

[2019-03-20 07:42] VerevkinAlexander commented on #86
I'll find out.

[2019-03-20 08:58] VerevkinAlexander commented on #85
Inside the Activity tab, "RecentTransactions" component uses "Operation" component to render operations in a table like view.
This "Operation" component is very similar to "ProposedOperation" it also has a massive switch.
![image](https://user-images.githubusercontent.com/43240282/54671106-e0c99780-4afd-11e9-901e-d005d324f1a0.png)

For example, "proposal_create" operation in "Operation" component

[2019-03-20 09:10] sschiessl-bcp commented on #85
Please refactor that as well to use the new components for each operation. If they are displayed differently, you could add a switch to it like
[code]
where `flag` could be a string, e.g. `proposal`, `recent` or similar

[2019-03-21 10:04] VerevkinAlexander commented on #84
@sschiessl-bcp
Could you give me a hint?
In ClaimModal "amount to withdraw" field, user cant input more amount than maximum amount per period, correct? After user clicks on "AVAILABLE: 2,222.96895 TEST" this amount should not be added into "amount to withdraw" field ?
![image](https://user-images.githubusercontent.com/43240282/54744879-c8767d00-4bd0-11e9-988c-502adfe09c02.png)

[2019-03-21 10:11] sschiessl-bcp commented on #84
`Amount to Withdraw` should be tha maximum of `withdrawal_limit` and payer `account balance` of the same asset

[2019-03-21 10:15] sschiessl-bcp commented on #84
I suppose having said that it makes sense to remove the "Maximum amount per period" and relabel the "Available:" to "Limit:".

If the available balance of the payer is less than the limit, add an icon "!" (exclamation-circle in antd) with a tooltip (I will fill in the text)

[2019-03-21 10:16] sschiessl-bcp commented on #84
And instead of the "Maximum amount per period" field I think it would be nice to show the user instead there when the current period ends

[2019-03-21 10:23] VerevkinAlexander commented on #84
Ok, I see.

What about fee calculation for create, update and claim. Should it be done like in "Send"? Only change operation type? In DirectDebit component you added estimateFeeAsync("proposal_create") as an example?
![image](https://user-images.githubusercontent.com/43240282/54746010-be09b280-4bd3-11e9-85fb-49663cbc46ab.png)

[2019-03-21 11:32] sschiessl-bcp commented on #84
No, that must be from your intiial copy&paste.

Yes, fee calculation with adjusted operation type

[2019-03-27 14:36] sschiessl-bcp commented on #84
@VerevkinAlexander

Pull request towards bitshares is open: https://github.com/bitshares/bitshares-ui/pull/2554

Please check the source.

1. I have added two `// todo:` tags to visualize possible error messages. You can add the next next to the create button
![image](https://user-images.githubusercontent.com/33128181/55084836-e39c2d80-50a5-11e9-8e02-56b761d4ed91.png)

2. Please put all not transl

[2019-03-27 15:25] VerevkinAlexander commented on #84
@sschiessl-bcp, ok I'll do it tomorrow morning.

[2019-03-28 12:14] VerevkinAlexander commented on #61
During testing of creation of withdrawal permission, I have created proposal with invalid start date.
![image](https://user-images.githubusercontent.com/43240282/55156849-a8603400-5163-11e9-838c-68416ff95b94.png)
But, fail_reason property is absent.

[2019-03-28 13:00] VerevkinAlexander commented on #84
What type of errors are possible? For example when I create permission with start date from past, I get error in transaction popup.
![image](https://user-images.githubusercontent.com/43240282/55159219-3985d980-5169-11e9-8c74-77f70d726bde.png)

When I try to delete already deleted permission, I get:
![image](https://user-images.githubusercontent.com/43240282/55159073-fd527900-5168-11e9-9de8-3500b46

[2019-03-28 13:16] VerevkinAlexander commented on #84
@sschiessl-bcp
When I update permission I should select new start date?
When I have left start date unchanged I've got the error:
![image](https://user-images.githubusercontent.com/43240282/55160623-6ab3d900-516c-11e9-9015-7d9112a02c0e.png)

[2019-03-29 07:43] VerevkinAlexander commented on #84
Ok, I think, I've got your point.
For example, something went wrong in `ApplicationApi.claimWithdrawPermission`, and this case we do not handling. In Claim modal's catch block we get a general error:
![image](https://user-images.githubusercontent.com/43240282/55216712-24ab5380-5206-11e9-8390-52b92f927553.png)

And errors in my examples above should be handled by form validation...
Am I right?

[2019-03-29 07:44] VerevkinAlexander commented on #84
So far, I put all not translated strings in the locale. Checked the flow (create, update, claim, and cancel). In "ApplicationApi.claimWithdrawPermission" implemented the memo.
Fixed issues with the initial render of Table with permissions. Fixed "Current period ends" column of the table, for the case when the first period is not started. Removed "time now" button in antd DatePicker. Fixed validati

[2019-03-29 10:09] sschiessl-bcp commented on #84
I think all that is left now is `ApplicationApi.claimWithdrawPermission` error display, i added the error msg in the `DirectDebit` component.

Awesome you added the memo!

[2019-03-29 10:37] VerevkinAlexander commented on #85
@sschiessl-bcp
I have finished refactoring of operations.

[2019-03-29 14:37] sschiessl-bcp commented on #84
Finished it up!

[2019-03-29 14:37] #84 closed, assigned to VerevkinAlexander

[2019-03-29 14:38] sschiessl-bcp commented on #84
Please re-iterate the changes I made to your code throughout the whole pull request, simply to have seen my intentions.

[2019-04-02 13:52] VerevkinAlexander commented on #86
@sschiessl-bcp we can remove header_saveload feature from disabled_features and added it to enanabled_features https://github.com/blockchainprojects/bitshares-ui/blob/develop/app/components/Exchange/TradingViewPriceChart.jsx#L34 it gives us a chance to save chart

[2019-04-02 14:20] sschiessl-bcp commented on #86
Yes, please try.

[2019-04-02 14:49] VerevkinAlexander commented on #86
I `ve implemented it, please check

[2019-04-03 11:38] sschiessl-bcp opened #90 "[1.5] #2527"
#2527

Tasks:
 - Show free label if free is 0
 - Pre-select the combobox if only one account is present

[2019-04-04 11:50] sschiessl-bcp opened #91 "[0.5] #2545"
#2545

Please adjust the sorting order according to the mention: block_num, trx_in_block, op_in_trx, virtual_op

[2019-04-05 09:16] sschiessl-bcp commented on #85
See comment on PR

[2019-04-08 11:17] sschiessl-bcp opened #94 "[14.5] #2244 Wallet Merchant"
Original issue #2244

Task see https://github.com/bitshares/bitshares-ui/issues/2244#issuecomment-480789973

[2019-04-08 11:21] sschiessl-bcp opened #95 "[0.5] #2595"
Original issue #2595

He means this site
https://wallet.bitshares.org/#/account/workers.bitshares.foundation/vesting

First task to add the Type with a dash in the title

[2019-04-09 16:06] VerevkinAlexander commented on #95
The first task is done. Please look PR

[2019-04-09 18:09] VerevkinAlexander commented on #94
The issue is fixed, please see PR

[2019-04-11 11:20] sschiessl-bcp commented on #94
Super!

Now I would like a new button there (upper right corner maybe) "Print receipt"

It creates a PDF (A4, like paper wallet), very simply, that looks something like this
![image](https://user-images.githubusercontent.com/33128181/55953459-70c1b380-5c5c-11e9-952b-28ead073781e.png)
(the total amount is obviosuly wrong atm).

Please allow for different assets to be invoiced (then we need a second

[2019-04-12 23:34] StarodubetsWork commented on #94
@sschiessl-bcp can you help me?  I stuck with a problem, I can `t get transaction id and receipt date. I only know how to get this info from the account history but do not know how to get it on transaction confirmation. Also after we received transaction confirmation app redirect us to another page and we have no possibility to click on the print button.
https://github.com/blockchainprojects/bitsh

[2019-04-14 00:38] sschiessl-bcp commented on #94
Comment the redirect out, it's not important atm.

Does the transfer that is being triggered contain a memo with the invoice number? If not, please change that the transfer contains it.

Then have the print receipt button unlock the wallet and then check the account history if there is a transfer with the specified invoice number in memo. If such a transfer is found (and the from and to accounts a

[2019-04-15 13:52] VerevkinAlexander commented on #94
I`ve implemented it, please see my PR

[2019-04-16 11:14] sschiessl-bcp opened #98 "[5] #2473"
Original issue https://github.com/bitshares/bitshares-ui/issues/2473

[2019-04-18 17:33] VerevkinAlexander commented on #98
@sschiessl-bcp I can`t reproduce this issue on the test environment can you help me?

[2019-04-22 17:08] VerevkinAlexander commented on #98
The issue is reproduced not stable because the trading chart used cached data. I fixed it. Please see PR

[2019-04-23 08:51] sschiessl-bcp opened #101 "[1] #2556 Upgrade css-loader to newest version"
Original issue https://github.com/bitshares/bitshares-ui/issues/2556

[2019-04-29 09:41] sschiessl-bcp opened #104 "[18] #2643 Basic HTLC support"
https://github.com/bitshares/bitshares-ui/issues/2643

[2019-04-29 10:38] sschiessl-bcp commented on #60
I forwarded the PR and then noticed that there were many files only reformatted.

Please check on EVERY commit what files you are committing such that only reformat commits do not happen. This causes massive overhead now when merging with develop branch. Do you have some kind of local reformatting logic enabled?

Furthermore, please see https://github.com/bitshares/bitshares-ui/pull/2644#issuecomm

[2019-04-29 11:23] #90 closed, assigned to VerevkinAlexander

[2019-04-29 11:24] #91 closed, assigned to VerevkinAlexander

[2019-04-29 11:29] #95 closed, assigned to VerevkinAlexander

[2019-04-29 11:32] sschiessl-bcp commented on #94
For testing
`http://localhost:8080/invoice/Ch8t3vKjc9Ydc6qskfBoDZAen1fdUAtukiLyoeeG2veD1Dv6DzGDctrDoQkUB4dBMoQn8qoon3TgbdKHdJP9yFK3r443uTpEUYHPSbwUiWJRnwi1qRumDUidzwGySGGgpb3bonKJTBeYHYvDkraz7C72RXaPFXLujCDioJMrSzqJgvL3Rd1ajA8i1GQYRf9YQZT7qhYDLPy44zEZiRmumcgS5EKZbdbXHxrQwnVh62F18Zf5fCct9CZ25xwEEHJsasLHR7Q8aVkSqtoJTzmFqse3LTijugrj3tpH34h4r1k1hnaZQUmhk2yUjgfyimnETTUasbkNtNTh`

[2019-04-29 12:33] #101 closed, assigned to VerevkinAlexander

[2019-05-06 09:47] VerevkinAlexander commented on #60
Sorry, but It happens because we have a pre-commit hook https://github.com/blockchainprojects/bitshares-ui/blob/develop/package.json#L49

[2019-05-09 00:26] VerevkinAlexander commented on #104
@sschiessl-bcp please look PR #105 . The task is not done but I want to be sure that I am on the right way. Also can you help me with HtlcActions redeem method? What data it should get for preimage? There is an error (missing preimage size)   If it gets an array.

[2019-05-09 07:49] sschiessl-bcp commented on #104
Please have a look at
https://github.com/bitshares/bitsharesjs/tree/develop/examples

and check if HtlcActions does it analogously. Checking the PR now

[2019-05-09 11:53] #60 closed, assigned to VerevkinAlexander

[2019-05-10 08:59] sschiessl-bcp opened #106 "[4.5] #2626"
Original issue https://github.com/bitshares/bitshares-ui/issues/2626

[2019-05-10 08:59] #106 closed, assigned to VerevkinAlexander

[2019-05-10 09:15] sschiessl-bcp opened #107 "[6] GitHub powered Headline #2679"
Original issue https://github.com/bitshares/bitshares-ui/issues/2679

[2019-05-10 13:56] VerevkinAlexander commented on #107
Is this issue is related to https://github.com/blockchainprojects/bitshares-ui/pull/103 ?

[2019-05-13 07:25] sschiessl-bcp commented on #107
Yes!

[2019-05-15 11:39] #104 closed, assigned to VerevkinAlexander

[2019-05-20 14:14] sschiessl-bcp opened #108 "[5] #268 Enable creating a new committee member via GUI?"
Original issue https://github.com/bitshares/bitshares-ui/issues/268

[2019-05-20 14:14] sschiessl-bcp commented on #108
Please make sure to use style guide for new modals, thanks! I will fill in the blockchain logic, please prepare it up to the point that I only need to enter the broadcast commant (assume you will have `AccountActions.createCommittee(url)` that works like the other broadcast functions).

[2019-05-23 11:21] sschiessl-bcp opened #110 "[11] #2677 ANTify, restyle and refactor voting overview"
https://github.com/bitshares/bitshares-ui/issues/2677

[2019-05-23 14:06] #107 closed, assigned to VerevkinAlexander

[2019-05-24 09:25] sschiessl-bcp opened #111 "[19] #1117 Allow a user to specify an arbitrary asset for transaction fee"
https://github.com/bitshares/bitshares-ui/issues/1117

Description of the task is here https://github.com/bitshares/bitshares-ui/issues/1117#issuecomment-492209474

Please make sure that
- [ ] Modal is only rendered when opened
- [ ] Unnecessary re-renders are avoided

[2019-05-24 09:31] sschiessl-bcp commented on #111
There will be massively many places in the UI where fee is used and selected. Please do a quick browse beforehand and find out in what ways the code normally implements the fee and report back here.

We should refactor that to a single piece of fee-defining code.

[2019-05-27 13:06] sschiessl-bcp opened #112 "[4.5] #1065 It is not possible to settle prediction market token in GUI"
https://github.com/bitshares/bitshares-ui/issues/1065

[2019-05-29 12:05] VerevkinAlexander commented on #111
@sschiessl-bcp I can try to inject FeeSelect modal to the Transactionconfirm component and call it before calling Transactionconfirm modal. What do you think about it?

[2019-06-03 08:34] sschiessl-bcp commented on #111
@Metizik

Like agreed in the call please implement it first for the [SendModel](https://github.com/bitshares/bitshares-ui/blob/develop/app/components/Modal/SendModal.jsx) and then we will generalize it to the other places in the UI.

I think it would make sense if you create a new FeeSelector component that merges all functionality needed for https://github.com/bitshares/bitshares-ui/blob/a025cf02

[2019-06-03 12:33] sschiessl-bcp opened #116 "[3.3] #2742 Further voting restyle and refactor"
https://github.com/bitshares/bitshares-ui/issues/2742

[2019-06-03 12:35] sschiessl-bcp commented on #116
First task for you @Metizik is only to extract the components and add the router
https://github.com/blockchainprojects/bitshares-ui/pull/114#issuecomment-498234939

[2019-06-03 15:43] mettizik commented on #111
I've got acquainted with code around SendModal and AmountSelecter and related storages, got implemented a simple modal UI-part for selection of asset according to wirefames in bitshares#1117. But as for now got a bit stuck on few moments, there are a few issues I would like to discuss:

1. What is a proper way to get user assets and his balance in current implementation?
2. How would modal be trig

[2019-06-03 20:31] sschiessl-bcp commented on #111
1. There is the txHelper class as seen in SendModal (). Essentially, you can get account balance like this:
[code]
In the first step I'd suggest to simple extract the existing logic from SendModal in a new FeeSelector componenet (all the logic concerning fees). That should also help get some more clarity what the code is doing. It is quite messy, don't take it as the best way. txHelper is quite co

[2019-06-04 13:23] mettizik commented on #111
I extracted a component for FeeAssetSelector and started to move fee related logic out from SendModal.
As for now there are a few questions, found out during refactoring:
1 - What does feeStatus stands for? In all my tests it was an empty object returned here - https://github.com/bitshares/bitshares-ui/blob/0edb22253c245b9ec25ff154a8dac03dddc47a21/app/components/Modal/SendModal.jsx#L294, what made

[2019-06-06 18:39] mettizik commented on #111
@sschiessl-bcp , I finished refactoring and modal UI, intermediate results are in branch https://github.com/bitshares/bitshares-ui/compare/develop...blockchainprojects:1117-allow-user-to-select-asset-for-fee

There are a few things I would like to clarify regarding this implementation - I removed some useless parts of code and found an issue in trxHelper (described in comment). But I am still not

[2019-06-07 07:32] sschiessl-bcp commented on #111
I don'tr remember as well atm, we will need to test the UX and see if it was really necessary

What is the error?

Check the default values of `checkFeeStatusAsync`. It defaults to the `transfer` operation. I checked the current implementation, it does not update the fee when the memo is filled in. Fee is dependent on memo size as well.

How are you currently testing? You can create an account for

[2019-06-07 09:04] mettizik commented on #111
1 - I checked it now - it works fine from my point of view on expected UX without feeStatus evaluation
2 - getAvailabeAssets was referring to `this.state` instead of passed `state` to get feeStatus. Which may lead to issues, if feeStatus in explicitly passed state is different
3 - Thanks. I believe fee is not updated because fee charge for memo is free ( https://gyazo.com/ed90f60abd356372e5c874f0c

[2019-06-07 12:03] Metizik commented on #111
@sschiessl-bcp , PR with changes https://github.com/blockchainprojects/bitshares-ui/pull/117

[2019-06-10 09:04] sschiessl-bcp commented on #111
All fee calculation should happen within the new component such that it can be re-use anywhere in the UI with no additional business logic for fee calculation. Add callbacks / hooks and props where needed.

Next step: find all separate spots in the UI where fees are calculated and report them here. Following question need to be answered for tech spot: can the new fee selector cover everything? Is

[2019-06-10 15:50] Metizik commented on #111
@sschiessl-bcp , passed a few iterations over all the code related to Fee calculations and displaying.
## Proposal
Regarding code review performed (described below) I believe the best would be to implement following changes:
1. Refactor `app/components/Transfer/Transfer.jsx` since it has a lot of duplication against previous `SendModal` revision and `FeeAssetSelector` can be added easily and will

[2019-06-11 14:05] sschiessl-bcp commented on #111
`app/components/Transfer/Transfer.jsx` can be removed since its deprecated.  Please go ahead with app/components/Blockchain/TransactionConfirm.jsx integration.

Make sure double check that
 - test fee calcualtion against mainnet too, especially with the memo size
 - ensure no unnecessary re-rendering are done, and fetching async data from the blockchain is done properly, debounce if appropriate
 -

[2019-06-12 11:08] sschiessl-bcp opened #118 "#2767 Abstract Order Book - First Step"
https://github.com/bitshares/bitshares-ui/issues/2767

[2019-06-14 08:50] Metizik commented on #111
@sschiessl-bcp , Removed Transfer component.  Since Transaction confirm is more informational modal I decided not to integrate there FeeAssetSelector, because this component won't (if I got it right) be able to handle change of fee asset completely by itself and though will mess responsibilities as well. I added a button to change default Fee asset though. Please correct me if I am wrong here
Test

[2019-06-14 09:24] sschiessl-bcp opened #120 "[34] #2717 Spotlight: Prediction Market"
https://github.com/bitshares/bitshares-ui/issues/2717

First task: Implement basic frontend and needed modals

[2019-06-14 16:13] mettizik commented on #116
I extracted all tabs into separate almost stateless components from AccountVoting component and will finish moving to new style-guide on Tuesday (Monday is a holiday in Ukraine)

[2019-06-17 12:07] sschiessl-bcp commented on #111
Agreed.

Will see how it feels

Would not be surprised if not used anywhere else

[2019-06-17 12:41] sschiessl-bcp commented on #111
When opening the modal in the settings it does not show any assets, async loading error?

![image](https://user-images.githubusercontent.com/33128181/59605004-0458aa00-910e-11e9-9695-9fe48f5b4c6b.png)

[2019-06-17 12:44] sschiessl-bcp commented on #111
When I'm in Send Modal and click the button to open modal, and also click to change default, the selected new default is not entered as the new fee asset in the send modal
![image](https://user-images.githubusercontent.com/33128181/59605155-716c3f80-910e-11e9-8ec0-4838296edcdc.png)

[2019-06-17 12:51] sschiessl-bcp commented on #111
Please remove the button again here, but introduce a question mark icon in the row of the view after BTS with a tooltip "The default asset used to pay transaction fees can be changed in the settings"
![image](https://user-images.githubusercontent.com/33128181/59605546-52ba7880-910f-11e9-8dd5-0d2cda919faf.png)

[2019-06-17 13:02] sschiessl-bcp commented on #94
- please rebase
 - the button is always grayed out for me
![image](https://user-images.githubusercontent.com/33128181/59606150-b5f8da80-9110-11e9-80c2-81edb7ba8ab8.png)
 - please switch this to a default disabled account selector
![image](https://user-images.githubusercontent.com/33128181/59606211-d9bc2080-9110-11e9-9054-861fcad3045e.png)
 - check the whole component that only new components are u

[2019-06-17 13:39] sschiessl-bcp opened #122 "[3.35] [3.1.190618-rc1] Refine release candidate"
Some smaller tasks

 - [x] [0.25] https://github.com/bitshares/bitshares-ui/issues/2780
 - [x] [0.5] https://github.com/bitshares/bitshares-ui/issues/2778
 - [x] [0.25] https://github.com/bitshares/bitshares-ui/issues/2777
 - [x] [0.1] https://github.com/bitshares/bitshares-ui/issues/2775
 - [x] [0.75] https://github.com/bitshares/bitshares-ui/issues/2776
 - [x] [1] https://github.com/bitshares/bi

[2019-06-17 14:30] #108 closed, assigned to VerevkinAlexander

[2019-06-17 14:31] sschiessl-bcp opened #123 "[6.5] #2755 Show info about pending force-settlement orders in account info"
https://github.com/bitshares/bitshares-ui/issues/2755

Add a new table below the open orders showing the settle orders.

[2019-06-17 14:33] #112 closed, assigned to VerevkinAlexander

[2019-06-17 14:33] #110 closed, assigned to VerevkinAlexander

[2019-06-17 14:35] #85 closed, assigned to VerevkinAlexander

[2019-06-18 13:14] sschiessl-bcp commented on #122
Also [0.5] https://github.com/bitshares/bitshares-ui/issues/2786

[2019-06-18 16:19] VerevkinAlexander commented on #122
done

[2019-06-19 11:45] VerevkinAlexander commented on #94
It should be enabled when the transaction is created because some info is missed until the transaction is not created. I can add a tooltip with  explanation

[2019-06-19 15:23] VerevkinAlexander commented on #94
![image](https://user-images.githubusercontent.com/43240282/59778550-5e4ca180-92bf-11e9-88f9-0d24d10ba895.png)

[2019-06-19 15:25] VerevkinAlexander commented on #94
![image](https://user-images.githubusercontent.com/43240282/59778672-9bb12f00-92bf-11e9-9040-e6f8599d971e.png)

[2019-06-19 23:26] Metizik commented on #111
Fixed three issues listed above, now switching to refactoring of TODOs left

[2019-06-20 19:01] VerevkinAlexander commented on #123
Can you give me some account with created settle orders? Or tell me how to create it on the testnet because now I have the error .
![image](https://user-images.githubusercontent.com/43240282/59874471-ef4a7800-93a6-11e9-9524-891d0501051c.png)

[2019-06-22 19:19] sschiessl-bcp commented on #123
Try it on mainnet with bitUSD or bitCNY. I can either send you some, or you buy it and put it on the invoice.

[2019-06-24 09:25] Metizik commented on #120
@sschiessl-bcp , I am now almost done with UI part and modals. I explored assets tab with prediction markets and have a few questions about how to fit requested UI for table with existing data model. Especially I don't understand how to get prediction to display from asset info, and also - what is the correct way to fetch opinions for specific prediction market?

[2019-06-24 14:26] mettizik commented on #111
@sschiessl-bcp , could you please review latest changes in PR ? I think according to original issue the next step would be to use saved in settings default asset as default for fee payments, where there are feed operations, isn't it?

[2019-06-25 08:11] sschiessl-bcp opened #128 "[3] #2826 Remove charting library from github"
https://github.com/bitshares/bitshares-ui/issues/2826

[2019-06-25 13:55] Metizik commented on #128
@sschiessl-bcp , Implemented required changes in https://github.com/blockchainprojects/bitshares-ui/pull/129

[2019-06-26 07:24] sschiessl-bcp opened #130 "[2] #2829 Dashboard Portfolio default sorting"
https://github.com/bitshares/bitshares-ui/issues/2829

[2019-06-26 09:16] sschiessl-bcp commented on #111
Not sure what you mean with that. Can you please re-formulate?

[2019-06-26 09:27] sschiessl-bcp commented on #120
There is a PR that adds asset action for settling
https://github.com/bitshares/bitshares-ui/pull/2752
that might contain interesting information for you.

Essentially, the information is not a separate field but baked into the asset description:
[code]
An opinion is merely a buy or sell order in the market PREDICTIONASSET/COLLATERAL.

Take for example https://develop.bitshares.org/#/asset/TRUMPIMP

[2019-06-26 10:55] mettizik commented on #111
I mean, now when we have a default fee asset setting present I believe user would expect, that selected default fee asset will be used for fee payment in all places where fee is involved.

[2019-06-26 11:16] sschiessl-bcp commented on #111
A yes, the new FeeComponent should be doing that yes. Are there any places that use the fee, but that don't use the FeeComponent?

[2019-06-26 12:37] Metizik commented on #130
Fixed in https://github.com/blockchainprojects/bitshares-ui/pull/131

[2019-06-28 09:03] mettizik commented on #111
@sschiessl-bcp , yes, lots of - most of them are listed here https://github.com/blockchainprojects/bitshares-ui/issues/111#issuecomment-500469007

[2019-07-02 05:54] sschiessl-bcp opened #133 "[0] Vesting Balance Loading #2879"
https://github.com/bitshares/bitshares-ui/issues/2879

[2019-07-05 08:50] sschiessl-bcp opened #137 "HTLC - the HTLC list isn't updated after creating a new HTLC #2886"
https://github.com/bitshares/bitshares-ui/issues/2886

Issue is that its not connected to listen to blockchain change (e.g. like the dashboard which automatically shows incoming balance changes)

[2019-07-05 08:56] sschiessl-bcp commented on #137
Same issue for Direct Debit component. And your new Prediction Market will have the same problem.

[2019-07-05 09:12] sschiessl-bcp opened #138 "Proposal - Incorrect information about fee #2881"
https://github.com/bitshares/bitshares-ui/issues/2881

Please check if that is still happening with your new component

[2019-07-05 09:15] sschiessl-bcp opened #139 "[0.5] HTLC - mismatch between "Expiration date" and "Expires" #2874"
https://github.com/bitshares/bitshares-ui/issues/2874

[2019-07-05 09:50] sschiessl-bcp opened #140 "[0.75] Open Orders Toolbar refinments #2871"
https://github.com/bitshares/bitshares-ui/issues/2871

[2019-07-07 09:08] Metizik commented on #138
Same issue is actual for HTLC creation:
![image](https://user-images.githubusercontent.com/16491260/60766249-e00a4080-a0af-11e9-849a-dcb6371784d1.png)
I thought it is an issue in `TransactionConfirm` component, but it seems like not, since actual Fee paid was equal to one, stated in `TransactionConfirm` modal

[2019-07-07 09:25] Metizik commented on #138
@sschiessl-bcp , same seems true for new component, even worse - it seems like new component state is not reflected now in actual transaction created.
When I choose CNY asset to pay fee, in transaction confirm I still see TEST as asset for fee payment.

One more question - should I be able to specify arbitrary fee asset for propose operation? if so - there is another issue here since in propose di

[2019-07-07 16:03] Metizik commented on #138
@sschiessl-bcp , after some initial research I believe that cause of this problem lies in `checkFeeStatusAsync` function of `trxHelper`. This function is used in lots of places and is not designed to handle propose operation. All the components, which do use it for fee calculation do not handle this situation in any proper way - so they just use it with specific operation type.
If we take a look o

[2019-07-09 11:35] VerevkinAlexander opened #144 "[0] #2862 My Open Orders and Settle Tabs does not update on Market Change"
original issue [#2862](https://github.com/bitshares/bitshares-ui/issues/2906)

The same issue that was reported in #2862 exists in the MyOpenOrders component that is used to render a users open orders and market settle orders.

This task is to apply the same fix to this component as done to the MarketHistory.

It will also handle code/view split.

[2019-07-09 11:36] VerevkinAlexander opened #145 "[0.75] #2878 Spontaneous URL change after node change"
https://github.com/bitshares/bitshares-ui/issues/2878

[2019-07-09 11:38] VerevkinAlexander opened #146 "[1] #2888 Reset settings - white screen"
Original issue  [#2888](https://github.com/bitshares/bitshares-ui/issues/2888)

https://github.com/bitshares/bitshares-ui/issues/2888#issue-463904343

[2019-07-10 18:16] sschiessl-bcp opened #150 "Memory leak and freeze #2802"
https://github.com/bitshares/bitshares-ui/issues/2802

[2019-07-10 18:16] sschiessl-bcp commented on #150
Please do some testing and see if you can reproduce

[2019-07-10 18:24] sschiessl-bcp opened #151 "Customise account balance for each account #2750"
https://github.com/bitshares/bitshares-ui/issues/2750

 - get familiar how currently the preferred asset is stored and balance calcluated, and what places in UI it impacts, report results in here
 - essentially, all viewSettings are currently done on a global basis (meaning all viewsettings apply to all accounts on the computer), this request would require viewSettings/settings on a per-account ba

[2019-07-11 13:55] Metizik commented on #120
@sschiessl-bcp , I have a few questions regarding implementation of required logic:
1) What kind of assets should be used as backing asset, is it only BTS, USD and CNY, as specified in ticket or all "user issued assets", or only those, which user do have balance of?

2) What does "participation fee" stands for? Now there is a disabled empty input, which I believe can be used to display a fee of ma

[2019-07-12 11:55] #86 closed, assigned to VerevkinAlexander

[2019-07-12 12:46] #111 closed, assigned to Metizik, VerevkinAlexander

[2019-07-15 11:23] sschiessl-bcp opened #154 "Google Analystics #2287"
https://github.com/bitshares/bitshares-ui/issues/2287

[2019-07-15 11:26] sschiessl-bcp commented on #154
https://github.com/bitshares/bitshares-ui/issues/2287#issuecomment-511364622

[2019-07-15 13:02] sschiessl-bcp opened #155 "[3.5] Make collateral positions easier accessable #2930"
https://github.com/bitshares/bitshares-ui/issues/2930

[2019-07-15 13:02] sschiessl-bcp commented on #155
First task: Search antd / style guide as to what components are available that allow collapsing

[2019-07-16 13:22] sschiessl-bcp commented on #120
1. BTS, USD, EUR and CNY to start with. User balance does not matter at the time of asset creation

2. This refers to the market fee on asset creation. I will fill in for the rest, use dummy value for now.

3. Agree: put buy order. Disagree: borrow and put sell order.

4. Please add a probability column in the bottom table, which reflects the price. Add a Probability input (Price input) in the Add

[2019-07-17 15:16] VerevkinAlexander commented on #151
- The preferred asset is stored in the SettingsStore "unit" and calculated in the TotalBalanceValue. The   "unit" is used in the AccountOrders, AccountOverwiev, AccountPortfolioList, AccountTreemap, AccountVoting, Fees, WithDrawModalNew, SettingsEntry, EquivalentPrice. In UI it impacts: AccountOverview, MarginPositiom, DashboardList & Header

[2019-07-18 12:01] VerevkinAlexander commented on #154
I found GA scripts in
- charting_library\static\bundles\library.19c99ed5d0307c67f071.js
- node_modules\foundation-apps\docs\index.html,
- node_modules\react-tether\node_modules\tether\docs\welcome\index.html,
 - node_modules\tether\docs\welcome\index.html

[2019-07-19 11:10] VerevkinAlexander commented on #150
I tried several cases but no luck. I can reproduce it. I think there is was something like a not unsubscribed market in unmounted component

[2019-07-22 09:46] sschiessl-bcp opened #158 "[0.25] Default market for BitAssets should be the collateral (not always BTS) #2942"
https://github.com/bitshares/bitshares-ui/issues/2942

[2019-07-22 10:01] sschiessl-bcp commented on #150
Anything we can do to avoid it crashing the UI?

[2019-07-23 12:30] VerevkinAlexander commented on #150
We can scan component for unresolved async actions, but it can take much time.

[2019-07-23 13:46] sschiessl-bcp opened #159 "[0.25] HTLC/Direct debit - White screen #2962"
https://github.com/bitshares/bitshares-ui/issues/2962

[2019-07-23 13:51] sschiessl-bcp opened #160 "[9.5] Implement new FeeSelect component #2975"
https://github.com/bitshares/bitshares-ui/issues/2975

[2019-07-24 06:05] VerevkinAlexander opened #162 "There is a bug when resolving prediction markets"
**Describe the bug**
It's impossible to resolve predicton markets with settlement price equals to 0 at all, and with settlement price equals to 1 it's possible only if there were any buy orders in the market.

**To Reproduce**
Steps to reproduce the behavior:
1) Create new prediction market: go to Menu -> Assets -> Create asset.
2) In "Primary settings" table set symbol, switch toggles "SmartCoin"

[2019-07-26 12:07] sschiessl-bcp opened #165 "[3] Update Vesting Balances to Table Style #2979"
https://github.com/bitshares/bitshares-ui/issues/2979

[2019-07-26 12:09] sschiessl-bcp opened #166 "[0.25] Restore/import - missing translation: en.settings.undefined #2921"
https://github.com/bitshares/bitshares-ui/issues/2921

[2019-07-29 14:17] sschiessl-bcp opened #169 "[14.5] Refine wallet merchant protocol #2960"
https://github.com/bitshares/bitshares-ui/issues/2960

[2019-07-29 20:24] startailcoon commented on #165
Can we have this in the next release? :)

[2019-07-29 21:12] VerevkinAlexander commented on #169
Please confirm is I am on the correctly understand your concept.
![image](https://user-images.githubusercontent.com/43240282/62083040-bb445b80-b25e-11e9-9303-6e211cc76870.png)

[2019-07-29 21:46] sschiessl-bcp commented on #169
Yes! Please give the barcode a title (same font as the invoice) and put the toggle under it. I think it would be better UX if the toggle is a secondary button that changes its text instead of the checkbox.

[2019-07-30 10:30] sschiessl-bcp opened #171 "Analyze exchange performance #2991"
https://github.com/bitshares/bitshares-ui/issues/2991

[2019-07-30 12:10] sschiessl-bcp commented on #165
You might be lucky :)

[2019-07-30 23:37] VerevkinAlexander commented on #169
![image](https://user-images.githubusercontent.com/43240282/62172775-257efe00-b33c-11e9-9266-2075a29a00a1.png)

[2019-08-02 16:08] VerevkinAlexander commented on #171
Please review intermediate results of exchange performance analysis.

1) Visual evaluation
Steps to check:
●	open http://localhost:8080/market/CNY_BTS
●	open the console
●	turn on Highlighting Component Updates in в React Developer Tools
Results:
●	Rerenderings mostly occur at some intervals (about 3 seconds) if you don't interact with the UI .
●	Together with the rerenderings a new message comes

[2019-08-05 11:34] sschiessl-bcp opened #174 "[4.5] Allow gateways to be activated/deactivated on-chain #3008"
https://github.com/bitshares/bitshares-ui/issues/3008

[2019-08-05 12:31] sschiessl-bcp opened #175 "[37.5] Simplified order form for ordinary users (i.e. non-traders) #2973"
See my comment here https://github.com/bitshares/bitshares-ui/issues/2973#issuecomment-518201813 and below

[2019-08-05 13:20] sschiessl-bcp opened #176 "Add X-FRAME header #3009"
https://github.com/bitshares/bitshares-ui/issues/3009

Also check if setting CSP works (first example of https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy#Examples)

[2019-08-06 08:43] #120 closed, assigned to Metizik

[2019-08-06 09:13] sschiessl-bcp opened #177 "[5.5] PredictionMarket: Facilitate loading assets and load whitelist issuers on-chain #3012"
https://github.com/bitshares/bitshares-ui/issues/3012

[2019-08-06 11:26] VerevkinAlexander commented on #176
@sschiessl-bcp
I have done a small research about “X-Frame-Options” header, and according to MDN docs and other sources it should be set only as HTTP header (server-side) to take an effect
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options#Examples
https://stackoverflow.com/questions/27358966/how-to-set-x-frame-options-on-iframe

Another Option is to set “frame-ancestors” di

[2019-08-06 11:32] #155 closed, assigned to VerevkinAlexander

[2019-08-06 12:06] VerevkinAlexander commented on #171
As for "how many subscriptions do we end up with? (in ChainStore)" question.
Component “ExchangeSubscriber” subscribes to currentAccount, coreAsset, quoteAsset, baseAsset properties in ChainStore. "Exchange" component has 8 subscriptions. So in total: **12**.

[2019-08-06 12:14] #165 closed, assigned to VerevkinAlexander

[2019-08-06 17:44] Metizik commented on #175
@sschiessl-bcp , can you please clarify where can Icon and Name be received from for Sell & Receive assets selectors? And the "name" field is a search box, similar to "MarketPicker" component?

[2019-08-08 07:49] sschiessl-bcp commented on #175
The favorites render the icons
![image](https://user-images.githubusercontent.com/33128181/62684706-8bfdbf00-b9c1-11e9-91db-c358f08d388c.png)

Use "symbol" for the name, the existing AssetSelector should do the trick
![image](https://user-images.githubusercontent.com/33128181/62684813-c5362f00-b9c1-11e9-87e0-3a5060fadc04.png)

Essentially it is a new AmountSelector component similar to the existin

[2019-08-09 08:15] sschiessl-bcp opened #180 "Add offline signing features to Transaction Confirm dialog #3020"
Only point 1., I will do point 2.
https://github.com/bitshares/bitshares-ui/issues/3020#issue-478857987

[2019-08-09 08:25] Metizik commented on #175
@sschiessl-bcp , few questions regarding further implementation:
1. What is the value of "your price" in the "Price" table? Is it the best market price or arithmetic mean of all orders that would get matched?
2. I suggest that, if the user enters an amount to sell, amount to receive is filled automatically, and vice versa, right? How it should be calculated?

[2019-08-09 09:33] sschiessl-bcp commented on #175
1. This is the price calculated form the amounts that you see in the too inputs above.

2. Exactly. If you enter the amount in the "Sell" and user has selected asset "Receive", you check the current open orders in the respective market and virtually match all open orders until you have sold everything (always with the best price if multiple orders), then you know how much of the "Receive" asset yo

[2019-08-13 08:57] #133 closed, assigned to VerevkinAlexander

[2019-08-15 15:34] VerevkinAlexander commented on #180
@sschiessl-bcp  According to this comment https://github.com/bitshares/bitshares-ui/issues/3020#issuecomment-519886252
I am not sure, should I do this task?

[2019-08-16 13:18] VerevkinAlexander commented on #36
@sschiessl-bcp should we do come thing with it or it can be closed?

[2019-08-16 13:18] VerevkinAlexander commented on #123
@sschiessl-bcp should we do come thing with it or it can be closed?

[2019-08-16 13:19] VerevkinAlexander commented on #151
@sschiessl-bcp should we do come thing with it or it can be closed?

[2019-08-16 13:19] VerevkinAlexander commented on #174
@sschiessl-bcp should we do come thing with it or it can be closed?

[2019-08-16 13:28] #174 closed, assigned to VerevkinAlexander

[2019-08-16 15:07] sschiessl-bcp opened #181 "[0.75] Unable to view the 5th page of account activities #3036"
https://github.com/bitshares/bitshares-ui/issues/3036

Please investigate and confirm this problem, and if reproducable, fix it :)

[2019-08-16 15:07] sschiessl-bcp opened #182 "Unable to claim direct debit #3035"
https://github.com/bitshares/bitshares-ui/issues/3035

Please investigate and confirm this problem, and if reproducable, fix it :)

[2019-08-16 15:15] sschiessl-bcp opened #183 "[0.25] Indentation issue #3024"
https://github.com/bitshares/bitshares-ui/issues/3024

[2019-08-19 12:42] sschiessl-bcp opened #185 "[3.5] Adapt error messages to new JSON-RPC of bitshares-core 3.2.0 #3040"
https://github.com/bitshares/bitshares-ui/issues/3040

[2019-08-20 17:28] Metizik commented on #181
@sschiessl-bcp , Will do first priority tomorrow morning

[2019-08-20 18:21] VerevkinAlexander commented on #182
@sschiessl-bcp

This issue is not reproducible for me

 FeeAssetSelector implementation merging  should fix this problem

[2019-08-23 08:16] Metizik commented on #185
@sschiessl-bcp , regarding this issue there are few questions to clarify:
1. The error handling logic is now hidden in `TransactionBuilder` of bitsharesjs. So to implement requested adoption I need to modify bitsharesjs codebase, or there is another preferred way here?
2. After changes applied - do we need to maintain older JSON-RPC version compatibility? If so, is there any nodes with older JSON-

[2019-08-24 06:08] #177 closed, assigned to Metizik

[2019-08-28 07:54] Metizik commented on #175
@sschiessl-bcp, working on issues listed in #186 PR:

- [x] Implement assets switch on same asset selected - 30m
- [x] Transactions calculation functions - 2h
- [x] Numbers refactoring over the components - 1h
- [x] Add liquidity penalty to getTotalFeePercent calculation - 20m
- [x] Add unknown asset icon - 15m
- [x] Add base/quote price to orders and prices - 30m
- [ ] Research issue reported and

[2019-09-04 12:44] Metizik commented on #175
@sschiessl-bcp
1. All of the above tasks are completed.
Except for the bug you described in point 5 of the comment https://github.com/blockchainprojects/bitshares-ui/pull/186#issuecomment-524522925
It's not producing for me.
Orders are now matched according to the approach you described i.e. the user gets the best price.

2. By the way, as far as I understand, in such a volatile market as BTS/CNY

[2019-09-04 14:26] sschiessl-bcp commented on #176
Can you please check if this actually makes a deployed wallet resistant against being rendered in an iframe? (if you know how to?)

[2019-09-06 08:49] VerevkinAlexander commented on #176
@sschiessl-bcp
I found that the frame-ancestors directive cannot be passed via the <meta> tag.

It should be added to the header on the server side as well as X-Frame-Options.

So I ran nginx with the wallet and in the settings I specified:
add_header Content-Security-Policy "frame-ancestors 'none';";
or
add_header X-Frame-Options deny;
Then in the new html-document in the <iframe> tag I specified

[2019-09-25 07:44] #169 closed, assigned to VerevkinAlexander

[2019-09-25 07:45] #183 closed, assigned to VerevkinAlexander

[2019-09-26 13:12] #138 closed, assigned to Metizik

[2019-09-26 13:29] sschiessl-bcp commented on #181
https://github.com/bitshares/bitshares-ui/pull/3075#issue-321720634

[2019-09-26 13:30] #181 closed, assigned to Metizik

[2019-09-26 14:06] #175 closed, assigned to Metizik

[2019-10-02 08:22] #185 closed, assigned to Metizik

[2019-10-02 08:23] #160 closed, assigned to VerevkinAlexander

[2019-10-02 08:23] #166 closed, assigned to VerevkinAlexander

[2019-10-02 08:24] #158 closed, assigned to VerevkinAlexander

[2019-10-02 08:25] #145 closed, assigned to VerevkinAlexander

[2019-10-02 08:25] #146 closed, assigned to VerevkinAlexander

[2019-10-02 08:26] #139 closed, assigned to Metizik

[2019-10-02 08:27] #140 closed, assigned to Metizik

[2019-10-02 08:28] #123 closed, assigned to VerevkinAlexander

[2019-10-02 08:29] #130 closed, assigned to Metizik

[2019-10-02 08:32] #61 closed, assigned to VerevkinAlexander

[2019-10-02 08:33] #40 closed, assigned to VerevkinAlexander

[2019-10-02 08:34] #116 closed, assigned to Metizik

[2019-10-02 08:35] #98 closed, assigned to VerevkinAlexander

[2019-10-02 08:35] #122 closed, assigned to Metizik, VerevkinAlexander

[2019-10-02 08:36] #128 closed, assigned to Metizik

[2019-10-02 08:38] #144 closed, assigned to VerevkinAlexander

[2019-10-02 08:38] #159 closed, assigned to VerevkinAlexander